@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .link {
    @apply underline underline-offset-2;
  }
  .btn {
    @apply bg-black hover:bg-white px-4 py-2 border rounded-lg hover:text-black text-center transition-all ease-in-out;
  }
}
